@import "compass"
@import "compass/utilities/general/clearfix"
@import "compass/css3/images"
@import "compass/css3/opacity"
@import "compass/reset"

//------------------------------------------------------------------------------
//  Vendor
//------------------------------------------------------------------------------

@import "vendor/font-awesome/font-awesome"
@import "vendor/material-colors"

//------------------------------------------------------------------------------
//  Main
//------------------------------------------------------------------------------

// override defautls

@import "nudoru/nudoru"
@import "nudoru.components/nudoru.components"

//------------------------------------------------------------------------------
//  Variables
//------------------------------------------------------------------------------

$z-index-initialization: 1100
$app-column-width: 90%

//------------------------------------------------------------------------------
//  Scaffold
//------------------------------------------------------------------------------

// Some options to support the mobile app / drawer structure

body
  overflow: hidden
  +background-cover-image('../img/bg-dark.jpg')

#app__container
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden

#app__contents
  position: absolute
  bottom: 100%
  min-height: 100%
  top: 0
  left: 0
  right: 0
  overflow-y: auto

//------------------------------------------------------------------------------
//  Elements
//------------------------------------------------------------------------------

#initialization__cover
  @extend %full-background-coverage
  z-index: $z-index-initialization
  background-color: #eee

.initialization__message
  @extend %body-text-big
  position: relative
  overflow: hidden
  text-align: center
  width: 300px
  heigth: 50px
  margin: auto
  top: 200px
  padding: $double-base-line-height
  background-color: #fff
  +shadow__one-edge-large
  h1
    padding: 0
    margin: 0
    margin-bottom: $base-line-height
    color: $dark-blue
    font-size: 1.2em
  .loader
    display: inline-block
    width: 25px
    height: 25px

//------------------------------------------------------------------------------
//  App Stuff
//------------------------------------------------------------------------------

.messagebox__default
  border-radius: $half-base-line-height
  .header
    h1
      font-family: $font-header
      font-size: $ms-1
      padding: $base-line-height
  .content
    p
      text-align: center
      font-size: $ms-1
      color: $dark-purple
      line-height: $triple-base-line-height
    .correct-answer
      font-weight: 700
      color: $light-purple
      border-bottom: 1px solid $light-purple

=app__area-shadow
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2)

=text__shadow($voff: 5px, $blur: 0px, $color: $dark-blue)
  text-shadow: 2px $voff $blur $color

=box__shadow($voff: 5px, $blur: 0px)
  box-shadow: 2px $voff $blur $dark-blue
  
$app-width: 975px
$app-height: 625px
$button-width: 190px
$button-height: 45px

.app__content
  background-color: $light-blue
  background-image: url('../img/main-background.png')
  position: relative
  display: block
  width: $app-width
  height: $app-height
  margin: $double-base-line-height auto 0
  overflow: hidden
  border-radius: $half-base-line-height
  padding: $double-base-line-height
  +app__area-shadow
  h1, h2, h3, h4, h5, h6
    color: #fff
  h1
    +text__shadow
    text-align: center
    padding-bottom: $triple-base-line-height
  h2, h3, h4, h5, h6
    +text__shadow(2px)
  p, label, li
    font-size: $ms-1
    color: #fff

.game__area-shaded
  background-color: rgba(81,45,109,.75)
  padding: $double-base-line-height
  border-radius: $base-line-height
  margin-bottom: $double-base-line-height

.button-cheat
  position: absolute
  top: -10px
  right: -10px
  font-size: $ms--1
  font-family: $font-content
  width: $button-width/2 !important

.button-game
  width: 190px
  height: 45px
  color: #fff
  border: none
  box-shadow: none
  background: url('../img/green_button01.png')
  &:hover
    background: url('../img/green_button05.png')
  &:active
    background: url('../img/green_button04.png')

.button-game-secondary
  width: 190px
  height: 45px
  color: $dark-blue
  border: none
  box-shadow: none
  background: url('../img/grey_button00.png')
  &:hover
    background: url('../img/grey_button05.png')
  &:active
    background: url('../img/grey_button03.png')

.game__question-difficulty
  position: relative
  width: 100%
  text-align: center
  h4
    padding-top: $triple-base-line-height
    padding-bottom: $double-base-line-height*2
  ul
    margin: 0
    padding: 0 33px
    position: relative
    list-style: none
    li
      position: relative
      list-style: none
      float: left
      display: inline
      width: 160px
      height: 220px
      background-image: none
      background-color: #eee
      border: 5px solid $light-purple
      +box__shadow
      border-radius: $base-line-height
      cursor: pointer
      //&:hover
      //  background-image: none
      //  +box__shadow(10px, 10px)
      //  border: 1px solid #fff
      //  background-color: scale-lightness($light-purple, 80%)
      img
        pointer-events: none
        padding-top: 50px
        padding-bottom: $base-line-height
      p
        pointer-events: none
        width: 100%
        text-align: center
        font-family: $font-header
        color: $dark-purple
        text-shadow: none
        font-size: $ms-0

#question__layer
  position: absolute
  top: 0
  left: 0
  width: $app-width
  height: $app-height
  +gradient-vertical(rgba(81,45,109,1), rgba(81,45,109,.85))
  //background-color: rgba(0,0,0,.75)
  padding: $base-line-height * 5
  padding-top: $base-line-height * 10
  h1, h2, h3, h4, h5, h6
    text-shadow: 2px 2px 0 rgba(0,0,0,1)
  h1
    @extend .h1-alternate
    font-size: $ms-2
    line-height: $base-line-height*4
  ul.question__choices
    width: 100%
  .question__choice
    margin: 0 auto $half-base-line-height auto
    width: 70%
    background-color: rgba(0,0,0,.25)
    border-radius: $base-line-height
    cursor: pointer
    &:hover
      background-color: rgba(0,0,0,.5)
    .question__choice-group
      display: table-row
      table-layout: fixed
      pointer-events: none
      .question__choice-text
        @extend .h3-alternate
        display: table-cell
        vertical-align: middle
        width: 500px
        padding: $base-line-height
        padding-left: $double-base-line-height
      .question__choice-letter
        display: table-cell
        vertical-align: middle
        width: $base-line-height * 5
        height: $base-line-height * 5

#question__difficulty
  position: absolute
  left: $base-line-height * 5
  top: $base-line-height * 2
  img
    position: relative
    width: 48px
    height: 48px
    top: -3px

#question__timer
  position: absolute
  right: $base-line-height * 5
  top: $base-line-height * 2.5

.game__question-waiting
  background-color: rgba(0, 94, 184, .75)
  padding: $double-base-line-height
  border-radius: $base-line-height
  margin-bottom: $double-base-line-height

.game__sent-question
  padding-top: $triple-base-line-height
  h1, li
    +text__shadow(1px, 0px, rgba(0,0,0,.5))
    color: #fff
  h1
    @extend .h2-alternate
  li
    @extend .h2-alternate

#game__localplayerstats, #game__remoteplayerstats
  +text__shadow(1px)
  background-color: rgba(0,0,0,.1)
  border-radius: $half-base-line-height
  border-top: 3px solid #fff
  padding: $half-base-line-height $base-line-height
  .game__playerstats-icon
    position: relative
    top: -3px
    width: 48px
    height: 48px
  div > ul
    @extend .list-plain-horizontal
    li
      @extend .h3-alternate
      margin: 0

#game__localplayerstats
  position: absolute
  bottom: $base-line-height
  left: $base-line-height
  .game__playerstats-avatar
    img.game__playerstats-player
      position: absolute
      top: -136px
      left: $triple-base-line-height
      width: 100px
      height: 138px
    img.game__playerstats-food
      position: absolute
      top: -145px
      left: 100px
      transform: rotate(-125deg)

#game__remoteplayerstats
  position: absolute
  bottom: $base-line-height
  right: $base-line-height
  .game__playerstats-avatar
    img.game__playerstats-player
      position: absolute
      top: -91px
      right: $triple-base-line-height
      width: 67px
      height: 92px
      transform: scaleX(-1)
    img.game__playerstats-food
      position: absolute
      top: -125px
      right: 70px
      transform: rotate(125deg)

.gameover__score-avatar
  position: absolute
  top: -45px
  
.leader__board
  margin: 0 auto
  width: 200px
  li
    overflow: hidden
  .leader__name
    float: left
    font-weight: 700
    //&::before
    //  background-image: url('../img/hudPlayer_Blue.png')
    //  background-size: 32px 32px
    //  width: 32px
    //  height: 32px
    //  content: ''
  .leader__score
    float: right
    //&::before
    //  content: url('../img/hudCoin.png')
    //  width: 32px
    //  height: 32px
